.top {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: rgb(0, 153, 255);
    font-family: Lato, sans-serif;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0px;
}

h1 {
    font-size: 48px;
    float: left;
    margin-left: 40px
}

.top mat-icon {
    float: left;
    font-size: 60px;
    margin: 20px 0px 0px 25px;
}

.container {
    margin: 15px;
    width: 100%;
}

.container mat-icon{
    margin: 15px 15px 15px 15px;
    font-size: 115px
}

.channelBlock {
    background: #0099ff;
    height: auto;
    color: #fff;
    cursor: pointer;
    width: 150px;
    height: 200px;
    float: left;
    margin: 10px;
    box-shadow: -2px 2px 2px #888888;
    border-radius: 5px;
}

.channelBlock .Inner {
    height: 100%;
    position: relative;
    z-index: 1;
}

.channelBlock .Name {
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    font-size: 20px;
    padding: 15px;
    margin: auto;
    font-family: Lato, sans-serif;
    font-weight: 900;
    text-align: center;
    background: #1aa3ff;
    border-radius: 0px 0px 5px 5px;
}

.channelBlock:hover .Name {
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    font-size: 20px;
    padding: 15px;
    margin: auto;
    font-family: Lato, sans-serif;
    font-weight: 900;
    text-align: center;
    background: #0099ff;
}

.back {
    float: left;
    margin-left: 30px;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.back:hover{
    color: #e6f5ff;
}

.channelBlock:hover{
    background-color: #008ae6;
}