.top {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: rgb(0, 153, 255);
    font-family: Lato, sans-serif;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0px;
}

h1 {
    font-size: 48px;
    float: left;
    margin-left: 40px
}

.container {
    margin: 15px;
    width: 100%;
}

.channelBlock {
    background: rgb(0, 153, 255);
    height: auto;
    color: #fff;
    cursor: pointer;
    width: 18%;
    float: left;
    margin: 10px;
    box-shadow: -2px 2px 2px #888888;
    border-radius: 5px;
}

.channelBlock .Inner {
    height: 120px;
    position: relative;
    z-index: 1;
}

.channelBlock .Name {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    padding: 15px;
    font-family: Lato, sans-serif;
    font-weight: 900;
}

.back {
    float: left;
    margin-left: 30px;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.back:hover{
    color: #e6f5ff;
}

.channelBlock:hover{
    background-color: #008ae6;
}

em {
    font-style: italic;
}