.new-component {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: rgb(0, 153, 255);
    font-family: Lato, sans-serif;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-bottom: 80px;
}

.back {
    float: left;
    margin-left: 30px;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.back:hover{
    color: #e6f5ff;
}

button:hover{
    background-color: #008ae6;
}

h1 {
    font-size: 48px;
    margin: auto;
    padding-right: 30px;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 3vw;
    margin-bottom: 3vw;
    text-align: center;
    background-color: rgb(0, 153, 255);
    color: #ffffff;
    padding: 10px 50px 10px 50px;
    font-size: 20px;
    border-radius: 5px;
}

p, .centerme {
    text-align: center;
    font-weight: 900;
    font-size: 6vw;
    font-family: Lato, sans-serif;
    margin-bottom: 2vw !important;
    display: block;
    margin: 0 auto;
    width: 80%;
    position: relative;
}

.clear {
    font-family: Lato, sans-serif;
    color: #ffffff;
    background-color: rgb(0, 153, 255);
    padding: 15px 25px 15px 21px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 115px;
    left: 15px;
    box-shadow: 0px 2px 2px #bbbbbb;
    cursor: pointer
}

.clear:hover {
    background-color: #008ae6;
}

.clear mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    top: 3px;
    right: 0;
}

.clause {
    color: rgb(0, 153, 255);
}

.clause:hover{
    color: #008ae6;
}

.inline {
    margin: 0 auto;
    float: left;
    position: relative;
}

.optional {
    color: #ddd !important;
}

.optional:hover{
    color: #cfcfcf !important;
}

.optional::after {
    content: "(optional)";
    width: 10%;
    position: absolute;
    top: 6vw;
    font-size: 20px;
    left: 45%;
}

.clickable {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
    width: 100% !important;
}

.mat-icon {
    font-size: 6vw;
    height: 6vh;
    width: 5vw;
    line-height: 6vh;
    position: relative;
    top: 1vh;
    right: 1vw;
}